*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
}
.brand_title{
  font-size: 1.5rem;
  margin: .5rem;
}
.navbar_link ul{
  display:flex ;
  margin: 0;
  padding: 0;
}
.navbar_link li{
  list-style: none;
}
.navbar_link li a{
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}
.navbar_link li:hover{
  background-color: #555;
}
.toggle_button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  width: 30px;
  height: 21px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}

.bars {
  width: 100%;
  height: 3px;
  background-color: white;
  border-radius: 10px;
}

@media(max-width:400px){
  .toggle_button{
    display: flex;
  }
  .navbar_link{
    display: none;
    width: 100%;
  }
  .navbar{
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar_link ul{
    width: 100%;
    flex-direction: column;
  }
  .navbar_link li{
    text-align: center;
  }
  .navbar_link li a{
    padding: 0.5rem 1rem;
  }
  .navbar_link.active{
    display: flex;
  }
}


